.rc-select.rc-select-multiple .rc-select-selector {
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  align-items: center;
  padding: 4px 16px;
}

.rc-select.rc-select-multiple .rc-select-selection-placeholder,
.rc-select.rc-select-multiple .rc-select-selection-item {
  transform: translate(0, 0);
}

.rc-select-multiple .rc-select-selector .rc-select-selection-item {
  padding: 6px 8px;
  margin: 0;
  display: flex;
  gap: 12px;
  cursor: pointer;
  background-color: #bdbdbc;
}

.rc-select-multiple .rc-select-selector .rc-select-selection-overflow-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.rc-select-multiple .rc-select-selector .rc-select-selection-overflow {
  gap: 8px;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.rc-select-multiple
  .rc-select-selector
  .rc-select-selection-overflow::-webkit-scrollbar {
  display: none;
}

.rc-select-selection-item:hover > .rc-select-selection-item-remove {
  color: #ef4444;
}
